<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <i class="fa-solid fa-water me-2" style="font-size: 2rem;"></i>
        <span style="font-size: 1.5rem; font-weight: bold;">TaskFlow</span>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="{% url 'features' %}" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="{% url 'about_us' %}" class="nav-link px-2 text-white">About Us</a></li>
        <li><a href="{% url 'freqask' %}" class="nav-link px-2 text-white">FAQs</a></li>

      </ul>

      <div class="text-end">
        <a href="{% url 'log' %}" class="btn btn-outline-light me-2 text-decoration-none">
          Login
        </a>
        <a href="{% url 'signup' %}" class="btn btn-outline-light me-2 text-decoration-none">
          Sign-Up
        </a>
    </div>
  </div>
</header>